@media print {

	@page {
		size: A4;
		margin: 2cm;
	}

	#firstPage{
		visibility: visible;
		display: block;
	    text-align: center;
	    vertical-align: middle;
	}

/*	@page :left {
	  margin-left: 3cm;
	}

	@page :right {
	  margin-right: 3cm;
	}*/

	@page:right{ 
	  @bottom-left {
	    margin: 10pt 0 30pt 0;
	    border-top: .25pt solid #666;
	    content: "INARA";
	    font-size: 9pt;
	    color: #333;
	  }

	  @bottom-right { 
	    margin: 10pt 0 30pt 0;
	    border-top: .25pt solid #666;
	    content: content: "Page " counter(page) " of " counter(pages);
	    font-size: 9pt;
	  }

	  @top-right {
	    content:  string(doctitle);
	    margin: 30pt 0 10pt 0;
	    content: "Hello World"
	    font-size: 9pt;
	    color: #333;
	  }
	}

	@page:left{ 
	  @bottom-left {
	    margin: 10pt 0 30pt 0;
	    border-top: .25pt solid #666;
	    content: "INARA";
	    font-size: 9pt;
	    color: #333;
	  }

	  @bottom-right { 
	    margin: 10pt 0 30pt 0;
	    border-top: .25pt solid #666;
	    content: content: "Page " counter(page) " of " counter(pages);
	    font-size: 9pt;
	  }

	  @top-right {
	    content:  string(doctitle);
	    margin: 30pt 0 10pt 0;
	    content: "Hello World"
	    font-size: 9pt;
	    color: #333;
	  }
	}

article {
	page-break-inside: avoid;
}

div {
	page-break-after: avoid;
}

h2 {
	page-break-before: always;
}

/* insert your style declarations here */
	body { 
		background: white; 
		font-size: 12pt; 
	}
		
	.navbar { 
		display: none; 
	}
		
	#wrapper, 
	#content { 
		width: auto; 
		margin: 0 5%; 
		padding: 0; 
		border: 0; 
		float: none !important; 
		color: black; 
		background: transparent none; 
	}
		
	div#content { 
		margin-left: 10%; 
		padding-top: 1em; 
		border-top: 1px solid #930; 
	}
		
	div#mast { 
		margin-bottom: -8px; 
	}
		
	div#mast img { 
		vertical-align: bottom; 
	}
		
	a:link, 
	a:visited { 
		color: #520; 
		background: transparent; 
		font-weight: bold; 
		text-decoration: underline; 
	}
		
	#content a:link:after, 
	#content a:visited:after { 
		content: " (" attr(href) ") "; 
		font-size: 90%; 
	}
		
	#content a[href^="/"]:after { 
		content: " (http://www.alistapart.com" attr(href) ") "; 
	}
}